<h1><%= @bag.title %></h1>

<!-- User's bag menu where you can add more pokemon for the battle and change their attacks -->
<% @bag.pokemons.each do |pokemon| %>
  <%= link_to image_tag("https://files.pokefans.net/sprites/xy/animationen/#{ pokemon.name }.gif"), pokemon %>
  <br>
<% end %>

<div class="bagControls">
  <%= link_to 'Edit Bag', edit_bag_path(@bag) %>
  <%= button_to 'Delete Bag', @bag, :method => 'delete' %>
</div>
