<h1>Home</h1>

<% if @current_user.present? %>
  <h2>
    Welcome to your personal Pokédex, <%= @current_user.name %>.
  </h2>
  <br>
  <p>
    Here you can add Pokémon to the your personal Pokédex database and create a groups of favourites.
  </p>
<% end %>
